<div class="product-detail-container">
    <div *ngIf="selectedProduct" class="selected-product">
      <h2>{{ selectedProduct.name }}</h2>
      <img [src]="selectedProduct.image" alt="{{ selectedProduct.name }}">
      <p>Precio: {{ selectedProduct.price }}</p>
      <p>Stock: disponible</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur consectetur nostrum ratione dolore rerum dignissimos magni dolorum at non, obcaecati aut corporis eum vitae quia dolor. Neque voluptatum eos in!</p>
      <button>Comprar</button>
    </div>
  
    <div class="related-products">
      <h3>Otros productos:</h3>
      <div class="product-list">
        <div class="product" *ngFor="let product of products" [routerLink]="['/products', product.name]">
          <img [src]="product.image" alt="{{ product.name }}">
          <h4>{{ product.name }}</h4>
          <p>{{ product.price }}</p>
          <button>¿Te interesa?</button> 
        </div>
      </div>
    </div>
  </div>
  