.video-container {
    text-align: center;
    margin: 20px;
  }
  
  .video-wrapper {
    margin: 20px auto;
    width: 560px;
    height: 315px;
    position: relative;
  }
  
  .related-products {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .product-item {
    margin: 0 20px;
    text-align: center;
  }
  
  .product-item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  #PrincipalPlant{
    width: 1000px;         
    height: auto;         
    border-radius: 10px;  
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  }
  .video-page-container {
    display: flex; 
    align-items: flex-start; 
    margin: 20px;
  }
  
  .video-container {
    flex: 1;
    margin-right: 20px; 
  }
  
  .video-container video {
    width: 100%; 
    max-width: 500px;
    height: auto; 
  }
  
  .text-content {
    flex: 2; 
    text-align:justify;
  }
  
  h2 {
    color: #555;
  }
  
  p {
    color: #333;
    line-height: 1.6;
  }
  