<div class="main-content">
    <img src="assets\Imgs\image 1.png" alt="Person Taking Care of Plant" class="main-image">
    <div class="content">
      <h2>Cuidado General</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident architecto officiis unde quibusdam magni aperiam, suscipit tenetur velit illum distinctio eveniet, assumenda explicabo inventore? Aliquid dolores ipsum aperiam id, debitis quam cupiditate nemo repellendus, eligendi atque mollitia. Similique esse corporis nulla tempore laboriosam distinctio numquam ut, quas deserunt animi conse
        quuntur et debitis quasi corrupti. Architecto iste soluta corrupti libero.</p>
      <h3>Subtitulo</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quis adipisci, aperiam fugiat eum fuga voluptatibus maxime, vero nulla iure culpa dolorum consectetur perferendis qui, quam voluptates sint. Non, temporibus!</p>
    </div>
  </div>
  